@use "sass:map";
@use "sass:color";

$color-modes: ("one", "two", "three");



@function highlight-color($n) {
  @if $n == '1' {
    @return color("teal");
  } @else if $n == '2' {
    @return color("purple");
  } @else {
    @return color("khaki");
  }
}

@function channel-red($color) {
  @return color.channel($color, "red", rgb);
}

@function channel-green($color) {
  @return color.channel($color, "green", rgb);
}

@function channel-blue($color) {
  @return color.channel($color, "blue", rgb);
}

@function channel-alpha($color) {
  @return color.alpha($color);
}


$light-palette: (

  "secondary-highlight": rgba(255, 88, 0, 1),
  "primary-highlight": rgba(255, 246, 192, 1),

  "info-background": rgb(247, 252, 255),
  "info-foreground": rgba(channel-red(#2d4f72), channel-green(#2d4f72), channel-blue(#2d4f72), 1),

  "success-background": rgb(245, 254, 250),
  "success-foreground": rgb(6, 78, 59),

  "error-background": rgb(255, 253, 245),
  "error-foreground": rgb(120, 53, 15),

  "warning-background": rgb(253, 247, 247),
  "warning-foreground": rgb(253, 50, 50),

  "critical-background": rgb(253, 247, 247),
  "critical-foreground": rgb(255, 10, 10),

  "text-highlight": #FFF6C0,

  "background": #F8F6F2,

  "dark-background": #000000,
  "light-background": #2e2e2e,
  "lightest-background": #383838,
  "fancy-background": color.scale(#0a192f, $lightness: 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": rgba(0, 0, 0, 0.4),

  "foreground": rgba(71, 71, 71, 1),

  "light-foreground": rgba(0, 0, 0, 0.7),
  "lightest-foreground": #0D0E10,

  "border-color": rgb(235, 233, 230, .8)
);

$dark-palette: (

  "primary-highlight": rgba(201, 170, 105, 0.3),

  "secondary-highlight": rgba(255, 53, 0, 1),

  "info-background": rgba(5, 95, 249, 0.1),
  "info-foreground": #7aade0,
  "success-background": rgba(6, 251, 128, 0.1),
  "success-foreground": #CFF09E,
  "error-background": rgba(96, 32, 32, 0.1),
  "error-foreground": #fcb9b9,
  "warning-background": rgba(137, 33, 30, 0.15),
  "warning-foreground": #fd7c7c,
  "critical-background": rgba(238, 12, 12, 0.15),
  "critical-foreground": #f42e4f,

  "background": rgba(17, 17, 16, 1),

  "dark-background": #000000,
  "light-background": #232323,
  "lightest-background": #383838,
  "fancy-background": color.adjust(#0a192f, $lightness: 40%),
  "shadow": rgba(#000000, 0.1),

  "dark-foreground": rgba(112, 112, 112),

  "foreground": rgba(217, 216, 225, 0.9),
  "light-foreground": rgba(217, 216, 225, 1),
  "lightest-foreground": #FFFFFF,

  "border-color": rgba(37, 37, 39, 0.7)
);

@function color($color-name, $mode: "light") {
  @if $mode == "dark" {
    @return map.get($dark-palette, $color-name);
  } @else {
    @return map.get($dark-palette, $color-name);
  }
}
